<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-16">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" rel="stylesheet" href="style.css" >
    <title>Music App</title>

</head>
<body>
        <h1 align="center">Welcome To My Music App</h1>
        <h2 align="center">Enter Your Favorite Music YouTube Link!!</h2>
    <form action="", method="POST"
    <br><br><br><br>
        YouTube:
  <input type="url" name="Link"><br />
  <input type="submit" value="Submit">
      </form>
      <br><br><br><br>
      <iframe style="margin: 0 auto; border: 20px solid;"></iframe>
      <br><br><br><br>
     Search Artist Name:
            <input type="text"  artist="Artist" value=""><br>
            <input type="submit" value="Submit">
</body>
</html>